.app {
  display: flex;
  height: 40vh;
  align-items: center;
  justify-content: center;
}
.select {
  width: 200px;
  height: 30PX;
  outline: none;
  border: 2px solid #afafaf;
  color: #4d3f3f;
}
